 * {
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 body {
   margin: 0;
   height: 100vh;
   background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
   backdrop-filter: blur(8px);
 }

 .card {
   background: white;
   border-radius: 20px;
   padding: 40px;
   max-width: 600px;
   text-align: center;
   box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
   animation: fadeSlideUp 0.8s ease-out;
   transition: transform 0.4s ease, box-shadow 0.4s ease;
   }

 .card:hover {
   transform: scale(1.07);
   box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4);
 }

 h2 {
   margin-bottom: 20px;
   color: #8a6bf1;
 }

 p {
   margin-bottom: 30px;
   color: #555;
 }

 .buttons {
   display: flex;
   justify-content: center;
   gap: 20px;
 }

 button {
   padding: 12px 30px;
   font-size: 16px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: 0.3s ease;
 }

 .enter {
   background-color: #8a6bf1;
   color: white;
 }

 .exit {
   background-color: #ddd;
   color: #333;
 }

 button:hover {
   opacity: 0.9;
 }